.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 200ms;
}

.navbar button:hover {
  background: #fff4f2;
}

.navbar li.active {
  color: tomato;
  transition: 0.3s;
}

.navbar .active::before {
  content: "";
  position: absolute;
  background: tomato;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 4px;
  animation: borderElongate 0.3s forwards;
  border-radius: 10px;
}

@keyframes borderElongate {
  0% {
    left: 0%;
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}

.navbar li {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  top: -6px;
  left: 30px;
  transform: translate(-50%, -50%);
  min-width: 10px;
  min-height: 10px;
  background: tomato;
  border-radius: 50%;
}
